<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Convert Interger to Roman</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
</head>
<body>

    <div class="page-wrap">
        {% block content %}
        {% endblock %}
    </div>

	<footer class="site-footer">
    @2015, Convert Integer to Roman, Powered by Python/Django
    </footer>
    
</body>
</html>



